@model WebParaMelvin.Models.EKG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EKG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formulario_S_O.Id_Formulario_S_O)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formulario_S_O.Id_Formulario_S_O)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_EKG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
